td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
i {
    margin-right: 1rem;
}
/*大学课程显示样式*/
.unicour_id{
    max-width: 6rem;
}
.unicour_cour{
    max-width: 10rem;
}
.unicour_tec{
    max-width: 7rem;
}
.unicour_major{
    max-width: 8rem;
}
.unicour_plat{
    max-width: 8rem;
}
.unicour_comm{
    max-width: 8rem;
}
.unicour_date{
    max-width: 7rem;
}

@media screen and (max-width:992px) {
    .row {
        display: block;
    }
    .unicour_id, .unicour_cour, .unicour_tec, .unicour_major, .unicour_plat, .unicour_comm, .unicour_date{
        max-width: 1rem;
    }
}
