  #noticePgae, #aboutPage, #bd-show-data, .bd-sum, #commPage {
    display: none;
  }
  .bd-main {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
  .rmain {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .rcon {
    flex: 1;
    flex-shrink: 0;
   
  }
  .mfooter {
    color: #666;
    background-color: #F8F7FF;
    text-align: center;
    padding: 1em;
  }
  .loading::before {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 40%;
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid #007BFF;
    border-top-left-radius: 20px;
    transform-origin: right bottom;
    animation: loading 1s infinite;
  }
  @keyframes loading {
    0% { transform: rotateZ(0deg); }
    8.4% { transform: rotateZ(30deg); }
    16.8% { transform: rotateZ(60deg); }
    25.2% { transform: rotateZ(90deg); }
    33.6% { transform: rotateZ(120deg); }
    42% { transform: rotateZ(150deg); }
    50.4% { transform: rotateZ(180deg); }
    58.8% { transform: rotateZ(210deg); }
    67.2% { transform: rotateZ(240deg); }
    75.6% { transform: rotateZ(270deg); }
    84% { transform: rotateZ(300deg); }
    92.4% { transform: rotateZ(330deg); }
    100% { transform: rotateZ(360deg); }
  }
  i {
    margin-right: 13px;
  }
  .badge {
    margin-left: 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
    top: 4px;
  }
  header {
    background-color: #007bff;
  }
  .navbar {
    height: 3rem;
    padding: 3px;
  }
  .main-container {
    height: calc(100vh - 3rem);
  }
  .bd-sidebar {
    background-color: #F8F7FF;
  }
  .bd-notice {
    margin-top: 17px;
    height: 160px;
  }
  .bd-search {
    height: 38px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .bd-lables {
    margin-bottom: 5px;
  }
  #bd-show-data a {
    text-decoration: none;
    color: black;
  }
  #bd-show-data .card:hover {
    cursor: pointer;
    transform: rotate3d(2, 0, 1, 3deg)
  }
  #bd-show-data img {
    height: 210px;
  }
  #bd-show-data .card-title {
    color: #007BFF;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
  }
  #bd-show-data .recommend{
    font-size: 0.8rem;
    text-indent: 1.6rem;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
  }
  #bd-show-data .badge {
    background-color: #B37100;
    cursor: pointer;
  }
  .nav-link:hover {
    background-color: #007bff;
    color: #fff !important;
    cursor: pointer;
  }
  button.navbar-toggler span {
    padding: 0;
    margin: 0;
    display: inline-flex;
    width: 0.14em;
    height: 1.2em;
    background-color: rgb(90, 90, 90);
    transition: all 200ms;
  }
  button.navbar-toggler span.active:nth-child(1){
    transform: rotateZ(-45deg);
  }
  button.navbar-toggler span.active:nth-child(2){
    opacity: 0;
  }
  button.navbar-toggler span.active:nth-child(3){
    transform: rotateZ(45deg);
  }
  /*大屏幕时*/
  @media (min-width: 768px) {
    .badge {
      max-width: 6rem;
    }
    .bd-sidebar {
      border-right: 1px solid #eee;
    }
    .nav {
      height: 0;
      flex-wrap: nowrap;
    }
    .bd-lmenu {
      margin-bottom: 17px;
      height: calc(100% - 266px);
      overflow-y: scroll;
    }
    #notice-menu {
      display: none;
    }
    .bg-mcont {
      height: 0;
    }
  }
  #notice{
    font-size: 0.91rem;
    overflow:hidden;
    text-indent: 1.82rem;
    padding: 0;
    line-height: 1.3rem;
    margin: 9px 8px 13px 8px;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical;
  }
  /*小屏幕时*/
  @media (max-width: 768px) {
    .badge {
      max-width: 3.2rem;
    }
    .main-container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .bd-notice {
      display: none;
    }
    .bd-sidebar {
      border-bottom: 1px solid #eee;
      flex-basis: auto;
    }
    .nav {
      flex-wrap: nowrap;
    }
    .bd-lmenu {
      overflow-y: scroll;
      position: fixed;
      z-index: 99999999;
      background-color: #eee;
      top: 3rem;
      left: 0;
    }
    #notice-menu {
      display: block;
    }
  }